<div class="container">
      <p class="notice"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 
<div class="row">
  <div class="col-4">
  </div>
    <div class="col-4">
    <h2>Sign up</h2>
      <div class="card">
      <div class="field">
        <%= f.text_field :fname, placeholder: "First Name", class: "input" %>
      </div>

      <div class="field">
        <%= f.text_field :lname, placeholder: "Last Name", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input"  %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input"  %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input"  %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button" %>
      </div>
    <% end %>
    </div>
    <%= render "devise/shared/links" %>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>