<%= javascript_pack_tag 'botanicalselector' %>
<%= javascript_pack_tag 'distilleryselector' %>
<%= form_with(model: gin, local: true) do |form| %>
  <% if gin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gin.errors.count, "error") %> prohibited this gin from being saved:</h2>

      <ul>
      <% gin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "input-label" %>
    <%= form.text_field :name, class: "input" %>
  </div>


  <div class="field">
    <%= form.label :description, class: "input-label" %>
    <%= form.text_area :description, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :snippet, class: "input-label" %>
    <%= form.text_field :snippet, class: "input" %>
  </div>

<div id="botanical-selector"></div>
<br />
<div id="distillery-selector"></div>

  <br />
  <div class="field">
    <%= form.label :image, class: "input-label" %>
    <%= form.file_field :image %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>
