<p id="notice"><%= notice %></p>
<div class="container">
<h1>Gins</h1>
<h2>All Gins</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Description</th>
      <th>Snippet</th>
      <th>Distillary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gins.each do |gin| %>
      <tr>
        <td><%= gin.name %></td>
        <td><%= gin.slug %></td>
        <td><%= gin.description %></td>
        <td><%= gin.snippet %></td>
        <td><%= link_to 'Show', gin %></td>
        <td><%= link_to 'Edit', edit_gin_path(gin) %></td>
        <td><%= link_to 'Destroy', gin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gin', new_gin_path %>
</div><!-- end of main container -->
