<p id="notice"><%= notice %></p>
<div class="container">
<h1>Gins</h1>
<h2>All Gins</h2>

    <%= form_tag gins_path, method: :get do %>
     <div class="input-group mb-5">
      <%= text_field_tag :q, nil, placeholder: "Name, Flavour...", class: "form-control rounded-pill mr-3" %>
      <span class="input-group-btn">
         <button class="btn btn-primary" type="submit">Search</button> 
      </span>
      <%= link_to "Clear", gins_path, class: "btn btn-default" %>
      </div>
    <% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Snippet</th>
      <th>Distillery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gins.each do |gin| %>
      <tr>
        <td><%= gin.name %></td>
        <td><%= gin.description %></td>
        <td><%= gin.snippet %></td>
        <td><%= link_to 'Show', gin %></td>
        <td><%= link_to 'Edit', edit_gin_path(gin) %></td>
        <td><%= link_to 'Destroy', gin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gin', new_gin_path %>
</div><!-- end of main container -->
