<p id="notice"><%= notice %></p>
<div class="container">
<h1>Gins</h1>
<h2>All Gins</h2>

    <%= form_tag gins_path, method: :get do %>
    <div class="row">
     <div class="col-9">
      <%= text_field_tag :q, nil, placeholder: "Name, botanicals...", class: "input" %>
    </div>
      <div class="col-3">
         <button class="button" type="submit">Search </button> 
      
      <%= link_to "Clear", gins_path, class: "btn btn-default" %>
      </div>
    <% end %>
    </div>


  <div class="card-deck">
    <% @gins.each do |gin| %>
      <div class="card">
        <h3><%= link_to gin.name, gin_path(gin) %></h3>
        <%= gin.description %><br />
        <%= gin.snippet %><br />
      </div>    
    <% end %>
  </div>
  

<br>

<%= link_to 'New Gin', new_gin_path %>
</div><!-- end of main container -->
