
<div class="container">
  <div class="center">
  <H1>
    <%= @gin.name %>
  </H1>

  <p>by</p>
  <h2><%= @gin.distillery.name %></h2>
  </div>
<%= image_tag @gin.image.variant(resize: "400x400"), class: "img" %>

<p class="lead">
  <%= @gin.snippet %>
</p>


<p>
  <strong>Description:</strong>
  <%= @gin.description %>
</p>

<h3><%= @gin.botanicals.count %> Botanicals</h3>
<% @gin.botanicals.each do |bots| %>
  <span class="pill"><%= bots.name %></span>
<%end%>
<br />
<br />



<%= link_to 'Edit', edit_gin_path(@gin) %> |
<%= link_to 'Back', gins_path %>

</div>
