<p id="notice"><%= notice %></p>
<div class="container">
<H1>
  <%= @gin.name %>
</H1>

<p class="lead">
  <%= @gin.snippet %>
</p>


<p>
  <strong>Description:</strong>
  <%= @gin.description %>
</p>

<h3>Botanicals</h3>
<% @gin.botanicals.each do |bots| %>
  <span class="pill"><%= bots.name %></span>
<%end%>
<br />
<br />



<%= link_to 'Edit', edit_gin_path(@gin) %> |
<%= link_to 'Back', gins_path %>

</div>
