<% javascript_pack_tag 'botanicalsCRUD' %>
<p id="notice"><%= notice %></p>

<div id="botanicals"></div>

<h1>Botanicals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @botanicals.each do |botanical| %>
      <tr>
        <td><%= botanical.name %></td>
        <td><%= botanical.slug %></td>
        <td><%= botanical.description %></td>
        <td><%= link_to 'Show', botanical %></td>
        <td><%= link_to 'Edit', edit_botanical_path(botanical) %></td>
        <td><%= link_to 'Destroy', botanical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Botanical', new_botanical_path %>
